.app {
    padding: 30px 6px;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: left;
}

.app__title {
    margin: 0 0 24px;
    font-size: 36px;
    line-height: 42px;
}

.wrapper {
    display: block;
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
}